<div class="container p-3">
  <h1>Create new task</h1>
  <%= simple_form_for(@task) do |f| %>
    <%= f.input :title %>
    <%= f.input :details %>
    <%= f.submit "Add task", :class => "btn btn-primary"  %>
  <% end %>
</div>
