<div class="container p-3">
  <div class="top mb-3">
    <h1><%= @task.title %></h1>
    <%= link_to '<i class="fas fa-pencil-alt"></i> Edit this task'.html_safe, edit_task_path(@task) %>
  </div>
  <p class="details"><%= @task.details %></p>
  <%= link_to '<i class="fas fa-undo-alt"></i> Back to list'.html_safe, tasks_path %>
</div>

