// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

li {
  text-decoration: none;
  list-style: none;
  padding-bottom: 4px;
}

ul {
  padding-left: 0;
}

a {
  text-decoration: none;
  color: #2c86c2;
}

a:hover {
  color: #195177;
}

.far {
  padding-right: 4px;
}

.details {
  background-color: #ffffff;
  padding: 16px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px #d3d3d3;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-undo-alt {
  margin-top: 24px;
}



